main{
  display: flex;
    width: 100vw;
    box-sizing: border-box;
    flex-wrap: wrap;
   justify-content: center;
}
.spain-container {
  width: 45%;
  height: 150px;
  margin: 0px;
  border: 1px solid;
  padding: 5px;
}
h4{
  text-align: center;
  text-transform: capitalize;
}